In [2]:
import sqlite3 as conector

In [6]:
try:
  # abertura da conexão
  conexao = conector.connect('/content/drive/MyDrive/Data Science/Santander - DIO/Desafio-ETL/SDW2023.db')
# aquisição de um cursor
  cursor = conexao.cursor()

  cria_tabela_01 = '''
  CREATE TABLE usuario
  (
  id INT(11) NOT NULL,
  nome VARCHAR(30) NOT NULL,
  PRIMARY KEY (nome)
  );
  '''
  cria_tabela_0 = '''
  CREATE TABLE card
  (
  number_card VARCHAR(20) NOT NULL,
  limit_card INT(20) NOT NULL,
  PRIMARY KEY (number_card)
  );
  '''
  cria_tabela_03 = '''
  CREATE TABLE feactures
  (
  id INT(2),
  icon VARCHAR(200),
  description VARCHAR(200),
  PRIMARY KEY (id)
  );
  '''
  cria_tabela_04 = '''
  CREATE TABLE news
  (
  id INT(2),
  icon VARCHAR(200),
  description VARCHAR(200),
  PRIMARY KEY (id)
  );
  '''
  cria_tabela_05 = '''
  CREATE TABLE account
  (
  id INT(2),
  nome VARCHAR(30),
  number_card VARCHAR(20),
  number_account VARCHAR(7) NOT NULL,
  agency VARCHAR(4) NOT NULL,
  balance INT(10),
  limit_account INT(10) NOT NULL,
  FOREIGN KEY (nome) REFERENCES usuario (nome),
  FOREIGN KEY (number_card) REFERENCES card (number_card),
  FOREIGN KEY (id) REFERENCES feactures (id),
  FOREIGN KEY (id) REFERENCES news (id),
  PRIMARY KEY (number_account)
  );
  '''

  # execução do comando: SELECT, INSERT, CREATE...
  cursor.execute(cria_tabela_01)
  cursor.execute(cria_tabela_02)
  cursor.execute(cria_tabela_03)
  cursor.execute(cria_tabela_04)
  cursor.execute(cria_tabela_05)

# Efetivação do comando
  conexao.commit()


except conector.DatabaseError as erro:
  print('Erro no banco de dados', erro)
finally:
  # fechamento das conexoes
  cursor.close()
  conexao.close()

Erro no banco de dados table usuario already exists

In [7]:
 try:
  # abertura da conexão
  conexao = conector.connect('/content/drive/MyDrive/Data Science/Santander - DIO/Desafio-ETL/SDW2023.db')
# aquisição de um cursor
  cursor = conexao.cursor()

  usuario_01 = '''INSERT INTO usuario (id, Nome) VALUES(12345678910,'Fulano de Tal')'''
  usuario_02 = '''INSERT INTO usuario (id, Nome) VALUES(12345678911,'Sicrano da Silva')'''
  usuario_03 = '''INSERT INTO usuario (id, Nome) VALUES(12345678912,'Beltrano da Costa')'''
  usuario_04 = '''INSERT INTO usuario (id, Nome) VALUES(12345678913,'Mengano da Cunha')'''
  usuario_05 = '''INSERT INTO usuario (id, Nome) VALUES(12345678914,'Zutano dos Santos')'''

  cursor.execute(usuario_01)
  cursor.execute(usuario_02)
  cursor.execute(usuario_03)
  cursor.execute(usuario_04)
  cursor.execute(usuario_05)

# Efetivação do comando
  conexao.commit()


except conector.DatabaseError as erro:
  print('Erro no banco de dados', erro)
finally:
  # fechamento das conexoes
  cursor.close()
  conexao.close()

Erro no banco de dados UNIQUE constraint failed: usuario.nome

In [8]:
try:
  # abertura da conexão
  conexao = conector.connect('/content/drive/MyDrive/Data Science/Santander - DIO/Desafio-ETL/SDW2023.db')
# aquisição de um cursor
  cursor = conexao.cursor()

  card_01 = '''INSERT INTO card (number_card, limit_card) VALUES('**** **** **** 0001', 1500)'''
  card_02 = '''INSERT INTO card (number_card, limit_card) VALUES('**** **** **** 0002', 1500)'''
  card_04 = '''INSERT INTO card (number_card, limit_card) VALUES('**** **** **** 0004', 1500)'''
  card_03 = '''INSERT INTO card (number_card, limit_card) VALUES('**** **** **** 0003', 1500)'''
  card_05 = '''INSERT INTO card (number_card, limit_card) VALUES('**** **** **** 0005', 1500)'''

  cursor.execute(card_01)
  cursor.execute(card_02)
  cursor.execute(card_03)
  cursor.execute(card_04)
  cursor.execute(card_05)

# Efetivação do comando
  conexao.commit()


except conector.DatabaseError as erro:
  print('Erro no banco de dados', erro)
finally:
  # fechamento das conexoes
  cursor.close()
  conexao.close()

Erro no banco de dados UNIQUE constraint failed: card.number_card

In [9]:
try:
  # abertura da conexão
  conexao = conector.connect('/content/drive/MyDrive/Data Science/Santander - DIO/Desafio-ETL/SDW2023.db')

#funçao PRAGMA
  conexao.execute('PRAGMA foreign_keys=on')

# aquisição de um cursor
  cursor = conexao.cursor()


  card_01 = '''INSERT INTO account (number_account, agency, balance, limit_account) VALUES('00001-1', '0001', 0, 10000)'''
  card_02 = '''INSERT INTO account (number_account, agency, balance, limit_account) VALUES('00001-2', '0001', 0, 10000)'''
  card_04 = '''INSERT INTO account (number_account, agency, balance, limit_account) VALUES('00001-3', '0001', 0, 10000)'''
  card_03 = '''INSERT INTO account (number_account, agency, balance, limit_account) VALUES('00001-4', '0001', 0, 10000)'''
  card_05 = '''INSERT INTO account (number_account, agency, balance, limit_account) VALUES('00001-5', '0001', 0, 10000)'''

  cursor.execute(card_01)
  cursor.execute(card_02)
  cursor.execute(card_03)
  cursor.execute(card_04)
  cursor.execute(card_05)

# Efetivação do comando
  conexao.commit()


except conector.DatabaseError as erro:
  print('Erro no banco de dados', erro)
finally:
  # fechamento das conexoes
  cursor.close()
  conexao.close()

Erro no banco de dados UNIQUE constraint failed: account.number_account

In [19]:
import json

In [23]:
try:
  # abertura da conexão
  conexao = conector.connect('/content/drive/MyDrive/Data Science/Santander - DIO/Desafio-ETL/SDW2023.db')

# aquisição de um cursor
  cursor = conexao.cursor()

# inserindo dados na tabela

  cursor.execute("select * from usuario")
  print(cursor.fetchall())
  conexao.commit()
  users = [usuario for id in cursor if (usuario := get_user(id)) is not None]

  print(json.dumps(users, indent=2))

  import openai

  openai.api_key = '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'

  def generate_ai_news(usuario):
    completion = openai.ChatCompletion.create(
        model = 'gpt-4',
        messages = [
            {
                'role': 'system',
                'content': 'Você é um especialista em markting bancário.'
            },
            {
               'role': 'user',
               'content': f'Crie uma mensagem para o {usuario["Nome"]} sobre a importância dos investimentos (máximo de 100 caracteres)'
            }
        ]
    )
    return completion.choices[0].message.content.strip('\"')

  for user in users:
    news = generate_ai_news(usuario)
    print(news)
    usuario['news'].append({
    "icon": "https://digitalinnovationone.github.io/santander-dev-week-2023-api/icons/cards.svg",
    "description": news
    })


except conector.DatabaseError as erro:
  print('Erro no banco de dados', erro)
finally:
  # fechamento das conexoes
  cursor.close()
  conexao.close()

[(12345678910, 'Fulano de Tal'), (12345678911, 'Sicrano da Silva'), (12345678912, 'Beltrano da Costa'), (12345678913, 'Mengano da Cunha'), (12345678914, 'Zutano dos Santos')]
[]